---
import Base from '../layouts/Base.astro';
---

<Base title="About - Alex Zillion">
  <h1>About</h1>
  
  <h2>Some things about me:</h2>
  <ul>
    <li>Software engineer with a love for building</li>
    <li>Fascinated by systems that scale</li>
    <li>Always learning something new</li>
    <li>Enjoy working on open source projects</li>
    <li>Based in [your location]</li>
  </ul>
  
  <h2>Some things I believe:</h2>
  <ul>
    <li>Simple solutions often beat complex ones</li>
    <li>Writing code is a craft worth perfecting</li>
    <li>The best tools are the ones you actually use</li>
    <li>Learning in public accelerates growth</li>
    <li>Small teams can do extraordinary things</li>
  </ul>
  
  <hr />
  
  <h2>Elsewhere:</h2>
  <ul>
    <li><a href="https://github.com/azillion">GitHub</a></li>
    <li><a href="https://twitter.com/azillion">Twitter</a></li>
    <li><a href="mailto:hello@alexzillion.com">Email</a></li>
  </ul>
</Base>

