---
import Base from '../layouts/Base.astro';
---

<Base title="Alex Zillion">
  <img src="/pfp.jpeg" alt="Alex Zillion" class="pfp" />
  <h1>Alex Zillion</h1>
  
  <h2>About me:</h2>
  <ul>
    <li>Software engineer with a love for building</li>
    <li>Raised in rural Illinois</li>
    <li>Based in San Diego</li>
  </ul>
  
  <h2>Strong opinions, loosely held:</h2>
  <ul>
    <li></li>
  </ul>
  
  <hr />
  
  <h2>Elsewhere:</h2>
  <ul>
    <li><a href="https://github.com/azillion">GitHub</a></li>
    <li><a href="https://x.com/azillionbytes">Twitter</a></li>
    <li><a href="mailto:alex@alexzillion.com">Email</a></li>
  </ul>
</Base>
