---
import Base from '../layouts/Base.astro';
---

<Base title="Alex Zillion">
  <img src="/pfp.jpeg" alt="Alex Zillion" class="pfp" />
  <h1>Alex Zillion</h1>
  
  <h2>About me:</h2>
  <ul>
    <li>Autodidactic by habit; classically trained in cs via the ancient rite of ‘paying for classes and still teaching myself’</li>
    <li>Raised in rural Illinois</li>
    <li>Live in San Diego</li>
    <li>First OS was <a href="https://en.wikipedia.org/wiki/Windows_98">Windows 98</a></li>
    <li>First Game was <a href="https://en.wikipedia.org/wiki/SimFarm">SimFarm</a></li>
    <li>Maintaining a php 5.3 browser-based text <a href="https://en.wikipedia.org/wiki/Multi-user_dungeon">MUD</a> from 2004</li>
  </ul>
  
  <h2>Strong opinions, loosely held:</h2>
  <ul>
    <li>Producing is better than consuming</li>
  </ul>
  
  <hr />
  
  <h2>Elsewhere:</h2>
  <ul>
    <li><a href="https://github.com/azillion">GitHub</a></li>
    <li><a href="https://x.com/azillionbytes">Twitter</a></li>
    <li><a href="mailto:alex@alexzillion.com">Email</a></li>
  </ul>
</Base>
