---
import Base from '../layouts/Base.astro';
---

<Base title="Alex Zillion">
  <h1>Alex Zillion</h1>
  <p class="muted">Software engineer, builder, tinkerer.</p>
  
  <ul>
    <li>Building things on the internet</li>
    <li>Interested in systems, infrastructure, and developer tools</li>
    <li>Writing about technology and ideas on my <a href="/blog">blog</a></li>
  </ul>
  
  <hr />
  
  <p>
    <a href="/about">More about me</a> · 
    <a href="/projects">Projects</a> · 
    <a href="https://github.com/azillion">GitHub</a>
  </p>
</Base>
